/* В этом файле вы импортируете все шрифты для сайта. Один из них вариативный и требует особенной настройки */
@font-face {
  font-display: swap;
  font-family: "Inter";
  src:
    local('Inter-Variable'),
    url("./Inter-Variable.woff2") format('woff2');
  font-weight: 400, 785;
}

@font-face {
  font-display: swap;
  font-family: "Press Start 2P";
  src:
    local('Press Start 2P'),
    url("./PressStart2P-Regular.woff") format('woff');
}

@supports (font-variation-settings: normal) {
  .page {
    font-weight: 410;
  }
}