/* Здесь хранятся все фильтры для изображений постов. */

.blur {
  filter: blur(3px);
}

.invert {
  filter: invert(20%)
}

.opacity {
  filter: opacity(75%);
}

.sepia {
  filter: sepia(100%);
}

.contrast {
  filter: contrast(155%);
}

.saturate {
  filter: saturate(200%);
}

.brightness-blur {
  filter: brightness(0.4) blur(2px);
}

.invert-brightness {
  filter: invert(25%) brightness(0.9);
}