/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background: repeating-linear-gradient(90deg, #d3d3d3 0 2px, rgb(0 0 0 / 0) 2px 4px), 
  repeating-linear-gradient(180deg, #d3d3d3 0 2px, rgb(0 0 0 / 0) 2px 4px), 
  linear-gradient(180deg, #e7e7e7 0%, #e7e7e7 0.01%, #1a1a1a 100%);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  object-fit: cover;
  font-family: var(--inter-family, sans-serif);
}

.header {
  margin-block-start: 98px;
  margin-block-end: 95px;
  margin-inline-start: 368px;
  margin-inline-end: 368px;
  padding-block-start: 122px;
  padding-block-end: 130px;
  max-width: var(--width-content, 50%);
  border: 2px solid black;
  background: white;
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.title {
  font-size: var(--font-size-title, 49px);
  font-family: var(--pressstart2p-family, fantasy);
}

.subtitle {
  font-family: var(--pressstart2p-family, fantasy);
  font-size: var(--font-size-subtitle, 14px);
  display: grid;
  justify-content: center;
  text-transform: uppercase;
}

.section {
  background: white;
  max-width: var(--width-content, 50%);
  margin-inline-start: 370px;
  margin-inline-end: 370px;
  border: 2px solid black;
  margin-block-end: 50px;
}

.card__title {
  padding-block-start: 4px;
  padding-block-end: 4px;
  padding-inline-start: 10px;
  padding-inline-end: 10px;
  font-size: var(--card__title-size, 18px);
}

.image__container {
  position: relative;
}

/* Фильтры для изображений вынесены в файл filter.css */

.card__image {
  width: 100%;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.image__text {
  position: absolute;
  right: 25px;
  top: 25px;
  font-family: var(--pressstart2p-family, fantasy);
  font-size: var(--image__text-size, 14px);
  border: 1px;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  text-shadow: 0 0 1px var(--image__text-stroke);
}

@supports (text-stroke: var(--image__text-stroke, 1px white)) or (-webkit-text-stroke: var(--image__text-stroke, 1px white)) {
  .image__text {
    -webkit-text-stroke: var(--image__text-stroke, 1px white);
    text-stroke: var(--image__text-stroke, 1px white);
    text-shadow: none;
  }
}

.block__content {
  padding-block-start: 25px;
  padding-block-end: 25px;
  padding-inline-start: 25px;
  padding-inline-end: 25px;
  display: grid;
  row-gap: 25px;
}

.block__content > p {
  font-size: var(--font-size-text, 18px);
}

.button-box {
  display: grid;
  justify-content: end;
  margin-block-start: 25px;
  margin-block-end: 25px;
  margin-inline-end: 25px;
}

.button__text {
  display: flex;
  align-items: center;
  gap: 7px;
}

.card__icon-button {
  width: 38px;
  height: 38px;
  display: grid;
  justify-content: center;
  align-content: center;
  background: white;
  border: 1px solid white;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid black;
}

.card__like-button {
  width: 118px;
  height: 38px;
  padding-block-start: 9px;
  padding-block-end: 9px;
  padding-inline-start: 17px;
  padding-inline-end: 17px;
  display: grid;
  justify-content: center;
}

.card-button-box {
  position: relative;
  color: var(--color-like, white);
  mix-blend-mode: difference;
  z-index: 1;
}

.button:focus {
  outline: none;
  box-shadow: 2px 2px 0px black;
  transition: fill 0.3s ease;
}

.button:focus-visible {
  box-shadow: 2px 2px #000;
}

.button-save-box {
  display: flex;
  justify-content: center;
  margin-block-end: 100px;
}

.button-save {
  min-height: 55px;
  display: grid;
  justify-items: center;
  align-items: center;
  padding-inline-start: 20px;
  padding-inline-end: 20px;
  font-size: var(--button__text-size, 14px);
}

.button {
  background: white;
  font-family: var(--pressstart2p-family, fantasy);
  position: relative;
  border: 2px solid black;
  transition: box-shadow 0.3s ease;
}

.button:after {
  content: "";
  position: absolute;
  inset: 0;
  background: black;
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
}

.button:hover:after {
  transform: scaleX(1);
  cursor: pointer;
}

.modalDialog {
  font-family: var(--pressstart2p-family, fantasy);
  font-size: var(--button__text-size, 14px);
  padding-block-start: 30px;
  padding-block-end: 30px;
  padding-inline-start: 30px;
  padding-inline-end: 30px;
  border: 2px solid black;
}

.modalDialog[open] {
  display: grid;
}

.modalDialog::backdrop {
  opacity: 0.75;
  background: black;
}

.modalDialogBlock {
  display: grid;
  grid-template-columns: 59px 1fr;
  align-items: center;
  width: 261px;
}

.modalDialogText {
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
}

.modalDialogClose {
  width: 261px;
  height: 38px;
  margin-block-start: 30px;
}

.like-icon {
  transform-origin: center;
  cursor: pointer;
}

.like-icon .sparks {
  opacity: 0;
}

.like-icon .contour {
  fill: var(--contour-color, black);
  transition: fill 0.1s linear;
}

.like-icon .core {
  fill: transparent;
  transition: fill 0.3s 0.03s linear;
}

.like-icon .main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.like-icon:hover .core {
  fill: var(--contour-color, black);
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: var(--contour-color, black);
  transition: fill 0.3s 0.05s linear;
}

.like-icon:active .core {
  fill: var(--animation-fill-color, red);
  transition: fill 0.3s linear;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color, red);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color, red);
  transition: fill 0.3s 0.06s linear;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color, red);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color, red);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked {
  animation: heart-animation 0.3s 0.1s ease-in;
}

.like-icon.is-liked .sparks {
  animation: change-opacity 0.3s 0.3s ease-in;
}

@media (width <= 375px) {
  .header {
    margin-block-start: 100px;
    margin-block-end: 100px;
    margin-inline-start: auto;
    margin-inline-end: auto;
    padding-block-start: 115px;
    padding-block-end: 116px;
    gap: 15px;
  }

  .section {
    margin-inline-start: auto;
    margin-inline-end: auto;
  }

  .button-save {
    min-height: 84px;
  }

  .button-save-block {
    display: grid;
    justify-items: center;
  }

  .modalDialog {
    padding-block-start: 30px;
    padding-block-end: 30px;
    padding-inline-start: 40px;
    padding-inline-end: 40px;
  }
}