/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background: repeating-linear-gradient(90deg, #d3d3d3 0 2px, rgb(0 0 0 / 0) 2px 4px), 
  repeating-linear-gradient(180deg, #d3d3d3 0 2px, rgb(0 0 0 / 0) 2px 4px), 
  linear-gradient(180deg, #e7e7e7 0%, #e7e7e7 0.01%, #1a1a1a 100%);
  object-fit: cover;
  font-family: var(--inter-family);
}

.header {
  min-height: 427px;
  background-image: url('../images/4dd65e8c77a1749122eb9020559ad46f35cd3193.png');
  margin-block-start: 100px;
}

.header__content {
  max-width: var(--width-content);
  margin-inline-start: auto;
  margin-inline-end: auto;
  min-height: 325px;
  border: 2px solid black;
  background-color: white;
  display: grid;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  font-family: var(--pressstart2p-family);
}

.subtitle {
  font-family: var(--pressstart2p-family);
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  display: grid;
  justify-content: center;
}

.section {
  background: white;
  max-width: var(--width-content);
  margin-inline-start: auto;
  margin-inline-end: auto;
  border: 2px solid black;
  margin-block-end: 50px;
}

.card__title {
  padding-block-start: 4px;
  padding-block-end: 4px;
  padding-inline-start: 10px;
  padding-inline-end: 10px;
  font-weight: var(--card__title-weight);
  font-size: var(--card__title-size);
}

.image__container {
  position: relative;
}

/* Фильтры для изображений вынесены в файл filter.css */

.card__image {
  width: 100%;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.image__text {
  position: absolute;
  right: 25px;
  top: 25px;
  font-family: var(--pressstart2p-family);
  font-size: var(--image__text-size);
  border: 1px;
  opacity: 0.5;
  -webkit-text-stroke: var(--image__text-stroke);
  text-stroke: var(--image__text-stroke);
  mix-blend-mode: hard-light;
}

.block__content {
  padding-block-start: 25px;
  padding-block-end: 25px;
  padding-inline-start: 25px;
  padding-inline-end: 25px;
}

.characteristic {
  padding-block-start: 25px;
}

.button-box {
  display: grid;
  justify-content: end;
  margin-block-start: 25px;
  margin-block-end: 25px;
  margin-inline-end: 25px;
}

.button__text {
  display: flex;
  align-items: center;
  gap: 12px;
}

.card__icon-button {
  background: white;
  border: 1px solid white;
}

.card__icon-button:hover {
  border: 2px solid black;
}

.card__like-button {
  min-height: 38px;
  border: 2px solid black;
  padding-block-start: 9px;
  padding-block-end: 9px;
  padding-inline-start: 17px;
  padding-inline-end: 17px;
}

.card-button-box {
  position: relative;
  color: var(--color-like);
  mix-blend-mode: difference;
  z-index: 1;
}

button:focus {
  outline: none;
  box-shadow: 2px 2px 0px black;
}

.footer {
  display: flex;
  justify-content: center;
  margin-block-end: 100px;
}

.button-save {
  min-height: 55px;
  display: grid;
  justify-items: center;
  border: 1px solid black;
  align-items: center;
  padding-inline-start: 20px;
  padding-inline-end: 20px;
  font-size: var(--button__text-size);
}

.button-save:focus {
  border: none;
  transition: background-color 0.3s ease;
}

.button {
  background-color: white;
  font-family: var(--pressstart2p-family);
  position: relative;
}

.button:after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: black;
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
}

.button:hover:after {
  transform: scaleX(1);
  cursor: pointer;
}

.modalDialog {
  font-family: var(--pressstart2p-family);
  font-size: var(--button__text-size);
}

.modalDialog::backdrop {
  position: fixed;
  inset: 0px;
  opacity: 0.75;
  background-color: black;
}

.modalDialogBlock {
  display: grid;
  grid-template-columns: 59px 1fr;
  align-items: center;
  width: 261px;
}

.modalDialogText {
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
}

.modalDialogClose {
  width: 261px;
  height: 38px;
  border: 2px solid black;
  margin-block-start: 30px;
}

.like-icon {
  transform-origin: center;
  cursor: pointer;
}

.like-icon .sparks {
  opacity: 0;
}

.like-icon .contour {
  fill: var(--contour-color);
  transition: fill 0.1s linear;
}

.like-icon .core {
  fill: transparent;
  transition: fill 0.3s 0.03s linear;
}

.like-icon .main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.like-icon:hover .core {
  fill: var(--contour-color);
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: var(--contour-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon:active .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.06s linear;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked {
  animation: heart-animation 0.3s 0.1s ease-in;
}

.like-icon.is-liked .sparks {
  animation: change-opacity 0.3s 0.3s ease-in;
}

@media (width <= 375px) {
  .button-save {
    min-height: 84px;
  }

  .button-save-block {
    display: grid;
    justify-items: center;
  }
}