/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --inter-family: "Inter", sans-serif;
  --pressstart2p-family: "Press Start 2P", sans-serif;

  --width-content: clamp(375px, 50%, 1440px);
  --font-size-button: 14px;
  --border-button: 2px solid black;


  --card__title-weight: 715;
  --card__title-size: 18px;

  --image__text-size: 14px;
  --image__text-stroke: 1px white;

  --button__text-size: 14px;
  --color-like: white;

  --contour: black;
  --main-body: black;
  --animation-fill-color: #FF0000;
  --contour-color: black;
}
